<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Publishing Platform</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/shared/css/font.css'/>
    <link rel='stylesheet' href='/scripts/vendors/css/normalize.css'/>
    <link rel='stylesheet' href='/scripts/vendors/css/nprogress.css'/>
    <link rel='stylesheet' href='/scripts/assets/css/screen.css'/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body id="manage">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main role="main" id="main">
        {{{body}}}
    </main>
    <script src="/scripts/vendors/jquery.js"></script>
    <script src="/scripts/vendors/underscore.js"></script>
    <script src="/scripts/vendors/backbone.js"></script>
    <script src="/scripts/vendors/handlebars.js"></script>
    <script src="/scripts/vendors/nprogress.js"></script>
    <script src="/scripts/vendors/showdown.js"></script>
    
    <script src="/scripts/vendors/readingTime.js"></script>
    <script src="/scripts/vendors/Countable.js"></script>
    <script src="/scripts/vendors/moment.js"></script>
    <script src="/scripts/vendors/fastclick.js"></script>
    <script src="/scripts/init.js"></script>
    <script src="/scripts/models/user.js"></script>
    <script src="/scripts/models/post.js"></script>
    <script src="/scripts/models/session.js"></script>
    <script src="/scripts/router.js"></script>
    <script src="/scripts/templates/hbs-tpl.js"></script>
    <script src="/scripts/views/base.js"></script>
    <script src="/scripts/views/home.js"></script>
    <script src="/scripts/views/profile.js"></script>
    <script src="/scripts/views/post.js"></script>
</body>
</html>

