<nav class="collection-menu">
	<a href="/" class="back">&hearts;</a>
	<span class="collection-editor">Collection edited by {{editor.name}}</span>
	<ul class="collection-buttons">
		<li class="button-profile"><a href="/@{{username}}/" style="background-image: url(/shared/img/profile.JPG);"></a></li>	
	</ul>
</nav>

<header class="collection-header" style="background-image: url(http://www.sadmuffin.net/cherrybam/graphics/graphics-photography/photography206.jpg)">
    <div class="overlay"></div>
    <div class="vertical">
        <div class="collection-header-content inner">
            <h1 class="collection-title">{{title}}</h1>
            <h2 class="collection-description">{{description}}</h2>
       </div>
    </div>
</header>