<header class="navbar">
	<nav class="nav-menu">
		<a href="/">Publishing &mdash; &hearts;</a>
		<nav class="nav-tabs">
			<ul class="nav-tabs-list">
				<li><a href="#">home</a></li>
				<li><a href="#top-stories">top stories</a></li>
				<li><a href="#bookmarks">bookmarks</a></li>
			</ul>
		</nav>
		<ul class="nav-buttons">
			<li><a href="/@laxxers/" style="background-image: url(/shared/img/profile.JPG);"></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
	</nav>
</header>



<section class="main-contents">

</section>

<aside class="sidebar">
	
</aside>