<header class="navbar">

</header>

<div class="modal-wrapper">
	<a href="" class="close">close [x]</a>
	<div class="login-form">
		<span class="title">Sign in / <a class="sign-up" href="/signup/">Sign up</a></span>
		<form method="post" action="/login/">
			<input type="email" class="login-mail" name="email" placeholder="Email" autocapitalize="off" autocomplete="off" spellcheck="false" required autofocus>
			<input type="password" class="login-password" name="password" placeholder="Password" required>
			<input type="submit" class="login-submit" value="Sign In">
		</form>
	</div>
</div>

<section class="main-contents">

</section>

<aside class="sidebar">
	
</aside>

<aside class="mobile-menu-holder">
	
</aside>
