<header class="navbar">
	<nav class="nav-menu">
		<a href="/">Publishing &mdash; &hearts;</a>
		<ul class="nav-buttons">
			<li><a href="/@laxxers/" style="background-image: url(/shared/img/profile.jpg);"></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
	</nav>
</header>

<nav class="nav-tabs">
	<ul class="nav-tabs-list">
		<li><a href="#">home</a></li>
		<li><a href="#top-stories">top stories</a></li>
		<li><a href="#bookmarks">bookmarks</a></li>
	</ul>
</nav>

<section class="main-contents">

</section>

<aside class="sidebar">
	
</aside>