<header class="navbar">
	<nav class="nav-menu">
		<a href="#">menu</a>
	</nav>

</header>


<section class="nav-tabs">
	<ul class="nav-tabs-list">
		<li>home</li>
		<li>top stories</li>
		<li>bookmarks</li>
	</ul>
</section>