<header class="navbar">
	<nav class="nav-menu">
		<a href="#">menu</a>
	</nav>

</header>

<section class="main-contents">
	<nav class="nav-tabs">
		<ul class="nav-tabs-list">
			<li><a href="#">home</a></li>
			<li><a href="#top-stories">top stories</a></li>
			<li><a href="#bookmarks">bookmarks</a></li>
		</ul>
	</nav>

	<section class="contents-wrapper">
		
	</section>
</section>

<aside class="sidebar">
	
</aside>