<nav class="post-menu">
	<a href="/" class="back">P</a>
	<span class="post-author">Chong Zhi Rui on July 7, 2014 9 min</span>
    <div class="post-buttons">
    </div>
</nav>

<section class="post-wrapper">
	<section class="post-contents">	
		<div class="post-title">{{title}}</div>
		<div class="post-content">{{{html}}}</div>
		<section class="post-footer-buttons">
			<ul class="footer-recommend">
			    <li class="button-recommend"><a href="/" class="back"><i class="fa fa-heart-o"></i> Recommend</a></li>
			</ul>	

			<ul class="footer-buttons">
				<li class="button-add right"><a href="/"><i class="fa fa-plus"></i></a></li>
			    <li class="button-bookmark right"><a href="/"><i class="fa fa-bookmark"></i></a></li>
			</ul>		
		</section>	
	</section>

</section>
