<header class="navbar">
	<nav class="nav-menu">
		<a href="/">Publishing &mdash; &hearts;</a>
		<ul class="nav-buttons">
			<li><a href="/@laxxers/" style="background-image: url(/shared/img/profile.JPG);"></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
	</nav>
</header>

<h2>{{title}}</h2>
<p>{{{html}}}</p>