<header class="navbar">
	<nav class="nav-menu">
		<a href="/">Publishing &mdash; &hearts;</a>
		<ul class="nav-buttons">
			<li><a href="/@laxxers/" style="background-image: url(/shared/img/profile.JPG);"></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
	</nav>
</header>

<p>Not to be too Tale of Two Cities about it, but I find writing a memoir easier than writing fiction, and more difficult.

Why is it easier? You don’t have to make stuff up, which is hard work. You don’t have to run your characters/plot/milieu/ending through a stress test that’ll determine whether it makes sense. That is to say, of course it makes sense. It happened to you.

What makes writing a memoir difficult is harder to quantify. Is it learning to know when you’re ready to talk about something? Is it seeing the structure in a lumpen mass of fact? Is it finding out what you were really like, as other people saw you? Yes, to each.

There are ways to make it all easier.

“Don’t write to settle scores, or to prove something in some debate.”
Be truthful. Don’t write to settle scores, or to prove something in some debate. In the worst memoirs, you can feel the author justifying himself — forgiving himself — in every paragraph. In the best memoirs, the author is tougher on his or herself than his or her readers will ever be.

How do you shed the self-protection that, like a warranty, comes home with us all once we leave the new-baby ward?

Well, the details of your story will be perspective-wreckingly close; you’ll have to develop a plan to increase that distance. Here’s what I suggest: Change your narrator from “I” to “he” or “she.” Write the whole thing in third person, and then — after typing your final period — do a word-replace to get yourself back in there. You’ll be amazed at how freeing that is.

Try to think of the story as a novel. I don’t mean that you should feel free to invent stuff. I’m very strict in my belief that non-fiction should be truthful and fiction is for invented narratives.

Don’t forget that you have a story to tell. Biopics are bad when they suggest every story begins at birth and ends at death. This is not necessarily the case. Some people’s best stories might happen over the span of a year, an hour, a decade. Decide.

“Biopics are bad when they suggest every story begins at birth and ends at death.”
Novelist and screenwriter Helen Schulman teaches to ask of your story a version of what Jews ask on the Passover holiday: Why is this day different from all other days? In other words, what makes one day story-worthy, and one day not? Spielberg’s Lincoln is a good biopic because it dramatizes a specific, narratively shapely episode in Abe Lincoln’s life and sets out to tell just that story.

Back to your memoir. Think: What is the conflict here? What does my character (e.g., you) want? What is this character’s desire? Does the character get what s/he wants in the end? How do I get the character to the end of the story in the most artful, satisfying way? I’m not advocating happy endings; I’m advocating well-built stories.</p>