<nav class="collection-menu">
	<div class="home-icon"><a href="/" class="back"><i class="fa fa-home"></i></a></div>
	<div class="mobile-icon"><a href="/"><i class="fa fa-bars"></i></a></div>
	<span class="collection-editor">&nbsp;</span>
    <div class="collection-buttons">
    </div>
</nav>
<section class="profile-wrapper">
	<div class="user-name">Settings</div>
	<div class="user-bio">Change or update your settings</div>
</section>

<section class="settings-wrapper">
	<div class="settings-block">
		<label for="">Your Name</label>
		<button class="first">Edit</button>
		<input type="text" class="settings" name="name" value="{{name}}">
		<p>You are advised to use your real name so that people recognize you.</p>
	</div>
	<div class="settings-block">
		<label for="">Your Email Address</label>
		<button class="second">Edit</button>
		<input type="email" class="settings" name="email" value="{{email}}">
		<p>Your email address will be used to login into your account.</p>
	</div>
	<div class="settings-block">
		<label for="">Your self-summary</label>
		<button class="third">Edit</button>
		<input type="text" class="settings" name="bio" value="{{bio}}" placeholder="Write yourself a biography..">
		<p>Briefly describe yourself in less than 120 words.</p>
	</div>
	<div class="settings-block">
	<button class="update">Save & Update Settings</button>
	</div>	
</section>

<aside class="mobile-menu-holder">
	
</aside>