<div class="signup-form">
	<span class="title">Sign up</span>
	<form method="post">
		<input type="text" class="login-name" name="name" placeholder="Name" autocapitalize="off" autocomplete="off" spellcheck="false" required autofocus>
		<input type="text" class="login-username" name="username" placeholder="Username" autocapitalize="off" autocomplete="off" spellcheck="false" required>
		<input type="email" class="login-mail" name="email" placeholder="Email" autocapitalize="off" autocomplete="off" spellcheck="false" required>
		<input type="password" class="login-password" name="password" placeholder="Password" required>
		<input type="submit" class="login-submit" value="Sign Up">
	</form>
</div>