html, body {
	font-family:"freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
	color: #191918;
	background: #ffffff;
	height: 100%;
	width: 100%;
}

#main {
	height: 100%;
	width: 100%;
	margin: 0;
}

.navbar {
	font-family:"jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 700;
	letter-spacing: .1em;
	height: 60px;
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(25%, white), color-stop(100%, rgba(255, 255, 255, 0.9)));
	background-image: -webkit-linear-gradient(top, white 0%, white 25%, rgba(255, 255, 255, 0.9) 100%);
	background-image: linear-gradient(to bottom,white 0%, white 25%, rgba(255, 255, 255, 0.9) 100%);
	font-size: 0.75rem;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.nav-menu {
	padding: 20px;
}

.nav-menu a {
	text-decoration: none;
	display: inline-block;
	color: rgba(0,0,0,0.75);
}

.nav-buttons {
	font-family:"jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 0.875rem;
	position: absolute;
	right: 20px;
	top: 10px;
	list-style: none;
	margin: 0;
	display: inline-block;
}

.nav-buttons .button-sign {
	margin: 0;
	display: inline-block;
	margin-left: 5px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 100%;
	overflow: hidden;
	background: #fff;
	border: 1px solid #57ad68;
	height: 40px;
	border-radius: 999em;
	padding: 0 20px;
}

.nav-buttons .button-sign a {
	padding-top: 11px;
	color: #57ad68;
	-webkit-transition: color 0.3s ease-in-out;
	   -moz-transition: color 0.3s ease-in-out;
	        transition: color 0.3s ease-in-out;
	width: 100%;
	height: 100%;
}


.nav-buttons .button-sign a:hover {
	color: #468c54;	
}

.nav-buttons .button-profile,
.nav-buttons .button-collection {
	margin: 0;
	display: inline-block;
	margin-left: 3px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 100%;
	overflow: hidden;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.05);	
	width: 40px;
	height: 40px; 
}

.nav-buttons .button-collection a {
	padding-top: 12px;
	color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	-webkit-transition: color 0.3s ease-in-out;
	   -moz-transition: color 0.3s ease-in-out;
	        transition: color 0.3s ease-in-out;
}

.nav-buttons .button-collection a:hover {
	color: rgba(0,0,0,0.8)
}

.nav-buttons .button-profile a {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}


.nav-tabs {
	font-family:"jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 0.6875rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,0.6);
    padding-left: 20px;
}

.nav-tabs ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-tabs ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-tabs ul li a {
	text-decoration: none;
	-webkit-transition: color 0.5s ease-in-out;
	   -moz-transition: color 0.5s ease-in-out;
	        transition: color 0.5s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-tabs ul li a:hover {
	color: rgba(0,0,0,0.9);
}

.nav-tabs-list .active {
	font-weight: 600;
	color: rgba(0,0,0,0.9);
}

.main-contents {
	position: absolute;
	z-index: 100;
	top: 70px;
	left: 0;
	background: #ffffff;
	width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contents-wrapper {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	margin: 20px 130px;
	min-height: 160px;
	border-bottom: 1px solid rgba(0,0,0,0.05);		
}

.sidebar-wrapper {
	margin: 50px 0;
}

.contents-wrapper .recommend {
	display: block;
	padding: 5px 0;
}

.contents-wrapper .recommend a {
	color: rgba(0,0,0,0.4);	
	font-size: 0.9375rem;
	text-decoration: none;
	-webkit-transition: color 0.5s ease-in-out;
	   -moz-transition: color 0.5s ease-in-out;
	        transition: color 0.5s ease-in-out;
}

.contents-wrapper .recommend a:before {
	padding: 0 7px 0 0;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family:'FontAwesome';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    content: '\f004';
    vertical-align: 7%;
    font-size: 0.8125rem;
}

.contents-wrapper .recommend a:hover {
	color: rgba(0,0,0,0.75);
}

.contents-wrapper .post-title a {
	text-decoration: none;
	color: #191918;
	font-weight: 700;
	font-size: 1.375rem;
}

.contents-wrapper .post-content {
	color: rgba(0,0,0,0.6);
	font-size: 1.125rem;	
}

.contents-wrapper .post-footer {
	padding-top: 20px;
	padding-bottom: 40px;
	font-size: 0.875rem;
}

.contents-wrapper .post-footer .user-image {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.contents-wrapper .author a {
	display: block;
	padding: 2px 0;
	text-decoration: none;
	color: #57ad68;
	-webkit-transition: color 0.5s ease-in-out;
	   -moz-transition: color 0.5s ease-in-out;
	        transition: color 0.5s ease-in-out;
}

.contents-wrapper .author a:hover {
	color: #468c54;	
}


.contents-wrapper .remove,
.contents-wrapper .time,
.contents-wrapper .readtime {
	color: rgba(0,0,0,0.4);
	font-size: 0.8125rem;
	display: inline-block;
}

.contents-wrapper .remove,
.contents-wrapper .readtime {
	text-decoration: none;
	-webkit-transition: color 0.5s ease-in-out;
	   -moz-transition: color 0.5s ease-in-out;
	        transition: color 0.5s ease-in-out;
}

.contents-wrapper .readtime:before {
	padding: 0 5px 0 8px;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family:'FontAwesome';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    content: '\f02e';
    font-size: 0.6875rem
}

.contents-wrapper .remove:before {
	padding: 0 5px 0 8px;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family:'FontAwesome';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    content: '\f00d';
    font-size: 0.6875rem
}

.contents-wrapper .remove:hover,
.contents-wrapper .readtime:hover {
	color: rgba(0,0,0,0.75);
}

.sidebar {
	position: fixed;
	top: 60px;
	right: 0;
	width: 30%;
	background: #fafafa;
	bottom: 0;
	min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
	border-left: 1px solid rgba(0,0,0,0.05);		
	border-top: 1px solid rgba(0,0,0,0.05);		
}

.sidebar-contents {
	min-height: 100%;
	padding: 40px 20px;
}

.sidebar-title {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	font-weight: 600;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    display: block;
	border-top: 1px solid rgba(0,0,0,0.05);
	padding-top: 15px;	
	font-size: 0.6875rem;
	letter-spacing: .1em;
	color: rgba(0,0,0,0.75);
}

.sidebar-title label {
	padding-top: 15px;
	border-top: 1px solid rgba(0,0,0,0.6);	
}
/* Utility class */
.rounded {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: relative;
	float: left;
	text-align: center;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 15px;
	background: #f0f0f0;
	border: 1px solid rgba(0,0,0,0.05);	
	width: 40px;
	height: 40px;  	
}

.inner {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.overlay { 
  position: absolute; 
  top:0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background: #303538; 
  opacity: .3; 
  z-index: 1;
} 

/* User Profile */
.profile-wrapper {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 30%; 
	left: 0; 
	right: 0;
	text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

.profile-wrapper .image-holder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 100%;
	overflow: hidden;
	background: #f0f0f0;
	margin: 0px auto;
	border: 2px solid #fff;		
	width: 120px;
	height: 120px; 
	-webkit-box-shadow: 0px 1px 3px -1px rgba(117,117,116,1);
	-moz-box-shadow: 0px 1px 3px -1px rgba(117,117,116,1);
	box-shadow: 0px 1px 3px -1px rgba(117,117,116,1);
}

.profile-wrapper .user-image {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.profile-wrapper .user-name {
	padding: 15px 0 5px 0;
	display: block;
	font-weight: 700;
	color: rgba(0,0,0,0.75);
	font-size: 3rem;
}

.profile-wrapper .user-bio {
	font-weight: 300;
	font-size: 1.125rem;
	color: rgba(0,0,0,0.75);
	padding: 0 0 15px 0;
}

.profile-wrapper .user-meta {
	list-style: none;
	margin: 0;
	padding: 0;
}

.profile-wrapper .user-meta a {
	text-decoration: none;
	color: rgba(0,0,0,0.75);
	-webkit-transition: color 0.5s ease-in-out;
	   -moz-transition: color 0.5s ease-in-out;
	        transition: color 0.5s ease-in-out;
}

.profile-wrapper .user-meta a:hover {
	color: rgba(0,0,0,0.6);
}

.profile-wrapper .user-meta span {
	display: block;
	text-transform: uppercase;
	letter-spacing: .25em;
	font-weight: 300;
	color: rgba(0,0,0,0.6);
	font-size: 0.6875rem;
}

.profile-wrapper .user-meta li {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;	
	font-size: 1.5rem;
	margin: 0;
}

.profile-wrapper .user-meta li:nth-child(2) {
	border-left: 1px solid rgba(0,0,0,0.05);		
	border-right: 1px solid rgba(0,0,0,0.05);		
}

.profile-wrapper .profile-follow {
	min-height: 160px;
	margin-top: 40px;
}

.profile-wrapper .profile-follow .button-follow,
.profile-wrapper .profile-follow .button-unfollow {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	background: #57ad68;
	border: none;
	color: #fff;
	padding: 10px 25px;
	border-radius: 999em;
	margin-top: 20px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out; 
}

.profile-wrapper .profile-follow .button-follow {
	background: #fff;
	color: #57ad68;
	border: 1px solid #57ad68;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.profile-wrapper .profile-follow .button-follow:hover,
.profile-wrapper .profile-follow .button-unfollow:hover {
	background: #468c54;
}

.profile-wrapper .profile-follow .button-follow:hover {
	color: #468c54;
	border: 1px solid #468c54;
	background: #fff;
}

.profile-wrapper .profile-follow .button-follow:focus,
.profile-wrapper .profile-follow .button-unfollow:focus {
	outline: none;
}

.profile-contents {
	position: absolute;
	top: 100%;
	width: 100%;
}

.block-contents {
	position: relative;
	top: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    border-top: 1px solid rgba(0,0,0,0.1);
    display: block;
    padding: 50px 20px;
}

.block-contents .label {
	text-decoration: none;
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	position: absolute;
	margin: 0 42%;
	padding: 2px;
	display: block;
	top: -11.5px; 
	left: 0; 
	right: 0;
	text-align: center;
	font-weight: 300;
	color: rgba(0,0,0,0.75);
	letter-spacing: .3em;
	font-size: 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    border: 1px solid rgba(0,0,0,0.5);
    background: #fff;
	-webkit-transition: color 0.5s ease-in-out;
	   -moz-transition: color 0.5s ease-in-out;
	        transition: color 0.5s ease-in-out;
}

.block-contents .label:hover {
	color: #191918;
}

.block-contents .post-wrapper {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	width: 50%;
	margin: 50px auto;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.1);	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	display: block;
	min-height: 120px;
}

.block-contents .post-wrapper:last-child {
	border: none;
}

.block-contents .post-wrapper .post-title a {
	text-decoration: none;
	color: rgba(0,0,0,0.75);
	font-weight: 300;
	font-size: 1.625rem;
}

.block-contents .post-wrapper .post-content {
	color: rgba(0,0,0,0.6);
	font-size: 1.125rem;	
	font-weight: 300;
}

.block-contents .post-wrapper .post-footer {
	padding-top: 20px;
	padding-bottom: 40px;
}

.block-contents .post-wrapper .author a {
	display: inline-block;
	padding: 2px 0;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(0,0,0,0.75);
	font-size: 0.75rem;
	letter-spacing: .1em;
}

.block-contents .post-wrapper .readtime {
	color: rgba(0,0,0,0.4);
	font-size: 0.8125rem;
}

.block-contents .post-wrapper .readtime {
	text-decoration: none;
	-webkit-transition: color 0.5s ease-in-out;
	   -moz-transition: color 0.5s ease-in-out;
	        transition: color 0.5s ease-in-out;
}

.block-contents .post-wrapper .readtime:before {
	padding: 0 5px 0 8px;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-family:'FontAwesome';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    content: '\f02e';
    font-size: 0.6875rem
}

.block-contents .post-wrapper .readtime:hover {
	color: rgba(0,0,0,0.75);
}

.collection-wrapper .collection-block {
	height: 250px;
	width: 300px;
	text-align: center;
	background: rgba(0,0,0,0.8);
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 10px;
}

.collection-wrapper .collection-block .darker {
	width: 100%;
	height: 100%;
	padding-top: 150px;
	display: block;
	/* generated overlay */
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.05) 0%, rgba(68,71,75,0.05) 2%, rgba(0,0,0,0.64) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.05)), color-stop(2%,rgba(68,71,75,0.05)), color-stop(100%,rgba(0,0,0,0.64))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.05) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,0.64) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,0.05) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,0.64) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,0.05) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,0.64) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,0.05) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,0.64) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d45484d', endColorstr='#a3000000',GradientType=0 ); /* IE6-9 */
}

.collection-wrapper .collection-block a {
	text-decoration: none;
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 1.25rem;
	color: #fff;
	width: 100%;
	height: 100%;
	display: block;
	text-align: bottom;
	background-size: cover;
	background-position: center;
}

/* Single collection page */
.post-menu,
.collection-menu {
	font-family:"jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	height: 60px;
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(25%, white), color-stop(100%, rgba(255, 255, 255, 0.9)));
	background-image: -webkit-linear-gradient(top, white 0%, white 25%, rgba(255, 255, 255, 0.9) 100%);
	background-image: linear-gradient(to bottom,white 0%, white 25%, rgba(255, 255, 255, 0.9) 100%);
	font-size: 0.875rem;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	position: fixed;
	width: 100%;
	z-index: 1000;	
}

.post-menu .back,
.collection-menu .back {
	text-decoration: none;
	display: inline-block;
	padding-left: 20px;
	width: 40px;
}

.post-menu .post-author,
.collection-menu .collection-editor {
	display: inline-block;
	padding: 22px 0;
	color: rgba(0,0,0,0.45);
}

.post-menu .post-author a,
.collection-menu .collection-editor a {
	text-decoration: none;
	color: #57ad68;
	-webkit-transition: color 0.3s ease-in-out;
	   -moz-transition: color 0.3s ease-in-out;
	        transition: color 0.3s ease-in-out;	
}

.post-menu .post-author a:hover,
.collection-menu .collection-editor a:hover {
	color: #468c54;	
}

.collection-header {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: #303538 no-repeat center center;
	background-size: cover;
}

.collection-header-content {
  	z-index: 1000;
}

.collection-title {
	display: block;
	font-weight: 700;
	color: rgba(255,255,255,0.95);
	font-size: 3rem;
	margin: 0;
}

.collection-description {
	font-weight: 300;
	font-size: 1.375rem;
	margin: 0;
	color: rgba(255,255,255,0.8);
}

.collection-contents {
	margin-top: 80px;
}

.no-border {
	border: none;
	padding-top: 10px;
}

/* Single post page */
.post-wrapper {
	width: 100%;
	height: 100%;
}

.post-contents {
	max-width: 700px;
	margin: 0 auto;
	padding: 100px 0;
	height: 100%;
	text-align: justify;  
}

.post-contents .post-title {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 700;
	color: rgba(0,0,0,0.75);
	font-size: 2.5rem;
	text-align: center;
}

.post-contents .post-content {
	font-family:"freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.01rem;
	font-size: 1.375rem;
	color: rgba(0,0,0,0.75);
}

.post-contents .post-footer-buttons .footer-recommend,
.post-contents .post-footer-buttons .footer-buttons {
	font-family:"jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 0.875rem;
	list-style: none;
	padding: 0;
	display: inline-block;
}

.post-contents .post-footer-buttons .footer-buttons {
	position: absolute;
	right: 320px;
}

.footer-buttons .button-add,
.footer-buttons .button-bookmark {
	margin: 0;
	display: inline-block;
	margin-left: 8px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 100%;
	overflow: hidden;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.2);	
	width: 40px;
	height: 40px; 
}

.footer-recommend .button-recommend {
	margin: 0;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background: rgba(255,255,255,0.5);
	border: 1px solid #57ad68;
	height: 40px;
	border-radius: 999em;
	width: 135px;
}

.footer-recommend .button-recommend a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding-top: 11px;
	color: #57ad68;
	-webkit-transition: color 0.3s ease-in-out;
	   -moz-transition: color 0.3s ease-in-out;
	        transition: color 0.3s ease-in-out;
	width: 100%;
	height: 100%;
}

.footer-buttons .button-bookmark a,
.footer-buttons .button-add a {
	padding-top: 11px;
	color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transition: color 0.3s ease-in-out;
	   -moz-transition: color 0.3s ease-in-out;
	        transition: color 0.3s ease-in-out;
}

.footer-buttons .button-bookmark a:hover,
.footer-buttons .button-add a:hover {
	color: rgba(0,0,0,0.8);
}

.footer-recommend .button-recommend a:hover {
	color: #468c54;	
}

.footer-buttons .button-add-drop {
	position: absolute;
	width: 300px;
	height: 90px;
	background: rgba(255,255,255,0.95);
	top: -100px;
	left: -255px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.1);
	display: none;
}

.footer-buttons .button-add-drop .drop-title {
	padding: 10px 0;
	font-family:"jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	color: rgba(0,0,0,0.6);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.6875rem;
}

.footer-buttons .button-add-drop .drop-wrapper {
	font-family:"jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	color: rgba(0,0,0,0.6);	
}

.footer-buttons .button-add-drop .collection {
	border: 1px solid rgba(0,0,0,0.1);
	height: 30px;
	width: 180px;
	border-radius: 999em;
}

.footer-buttons .button-add-drop .collection:focus {
	outline: none;
}

.footer-buttons .button-add-drop .add-to {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	border: none;
	background: #57ad68;
	color: #fff;
	-webkit-transition: background 0.3s ease-in-out;
	   -moz-transition: background 0.3s ease-in-out;
	        transition: background 0.3s ease-in-out; 
}

.footer-buttons .button-add-drop .add-to:hover {
	background: #468c54;
}

.footer-buttons .button-add-drop .add-to:focus {
	outline: none;
}
/* Fade in modal */
.modal-wrapper {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.95);
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	overflow: auto;
}

.modal-wrapper .close {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	text-decoration: none;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 1.375rem;
	font-weight: 300;
	color: rgba(0,0,0,0.2);
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;	
}

.modal-wrapper .close:hover {
	color: rgba(0,0,0,0.75);
}

.title {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 3.75rem;
	font-weight: 700;
}

/* For login & sign up */
.signup-form,
.login-form {
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

input[type="text"].login-name,
input[type="text"].login-username,
input[type="email"].login-mail, 
input[type="password"].login-password {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	color: rgba(0,0,0,0.6);
	width: 100%;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 55px;
	margin: 5px 0;
	font-size: 1.625rem;
	padding: 5px 10px;
	background: rgba(255, 255, 255, 0.05);
	-webkit-transition: border 0.3s ease-in-out;
	   -moz-transition: border 0.3s ease-in-out;
	        transition: border 0.3s ease-in-out;  
}

input[type="text"].login-name:focus,
input[type="text"].login-username:focus,
input[type="email"].login-mail:focus, 
input[type="password"].login-password:focus {
	outline: none;
	border-right: 5px solid rgba(0,0,0,0.5);;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="submit"].login-submit {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	color: rgba(0,0,0,0.5);
	background: #57ad68;
	border: none;
	color: #fff;
	padding: 10px 25px;
	border-radius: 999em;
	margin-top: 20px;
	-webkit-transition: background 0.3s ease-in-out;
	   -moz-transition: background 0.3s ease-in-out;
	        transition: background 0.3s ease-in-out;  
}

input[type="submit"].login-submit:hover {
	background: #468c54;
}

input[type="submit"].login-submit:focus {
	outline: none;
}

/* For following */
.modal-wrapper .following-wrapper {
	width: 35%;
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -30%);
	margin: 0;	
}

.modal-wrapper .following-wrapper .name-follow {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 1.875rem;
	font-weight: 700;
	margin: 0 auto;
	color: rgba(0,0,0,0.75);
	display: block;
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
}

.modal-wrapper .following-wrapper .follow-block {
	border-bottom: 1px solid rgba(0,0,0,0.05);	
	margin-top: 15px;
	min-height: 65px;
	display: block;
}

.modal-wrapper .following-wrapper .user-image {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.modal-wrapper .following-wrapper .follow-block .name,
.modal-wrapper .following-wrapper .follow-block .username {
	display: inline-block;
}

.modal-wrapper .following-wrapper .follow-block .name a {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: rgba(0,0,0,0.75);	
	text-decoration: none;
}

.modal-wrapper .following-wrapper .follow-block .username a {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: rgba(0,0,0,0.5);	
	text-decoration: none;
}

.modal-wrapper .following-wrapper .follow-block .bio {
	font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 0.9375rem;
	font-weight: 300;
	color: rgba(0,0,0,0.6);	
	margin-left: 55px;
	margin-bottom: 15px;
} 

.modal-wrapper .sign-up {
	text-decoration: none;
	color: #57ad68;
	-webkit-transition: color 0.3s ease-in-out;
	   -moz-transition: color 0.3s ease-in-out;
	        transition: color 0.3s ease-in-out;  
}

.modal-wrapper .sign-up:hover {
	color: #468c54;
}
/* Session buttons*/

.session-buttons {
	font-family:"jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 0.875rem;
	position: absolute;
	right: 20px;
	top: 10px;
	list-style: none;
	margin: 0;
	display: inline-block;
}

.session-buttons .button-collection,
.session-buttons .button-profile {
	margin: 0;
	display: inline-block;
	margin-left: 3px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 100%;
	overflow: hidden;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.05);	
	width: 40px;
	height: 40px; 
}

.session-buttons .button-collection a,
.session-buttons .button-profile a {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: block;
}

.session-buttons .button-sign,
.session-buttons .button-home {
	margin: 0;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background: rgba(255,255,255,0.5);
	border: 1px solid #57ad68;
	height: 40px;
	border-radius: 999em;
	text-align: center;
	padding: 0 20px;
}

.session-buttons .button-sign a,
.session-buttons .button-home a {
	padding-top: 11px;
	color: #57ad68;
	-webkit-transition: color 0.3s ease-in-out;
	   -moz-transition: color 0.3s ease-in-out;
	        transition: color 0.3s ease-in-out;
	width: 100%;
	height: 100%;
	padding-left: 0;
}

.session-buttons .button-collection a {
	padding-top: 11px;
	color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	-webkit-transition: color 0.3s ease-in-out;
	   -moz-transition: color 0.3s ease-in-out;
	        transition: color 0.3s ease-in-out;
}

.session-buttons .button-collection a:hover {
	color: rgba(0,0,0,0.8)
}

.session-buttons .button-sign a:hover,
.session-buttons .button-home a:hover {
	color: #468c54;	
}

.notification {

}
.notification-holder {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    min-width: 300px;
	background: #fff;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 2000;
	border: 1px solid rgba(0,0,0,0.2);
	border-top: none;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px -1px rgba(184,184,184,1);
	-moz-box-shadow: 0px 1px 3px -1px rgba(184,184,184,1);
	box-shadow: 0px 1px 3px -1px rgba(184,184,184,1);
	display: inline-block;
}

.notification-holder .notification-wrapper {
	text-align: center;
	padding: 12px 25px;
}

.notification-holder .notification-contents {
	font-family:"jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: 300;
	font-size: 0.875rem;
	color: rgba(0,0,0,0.6);	
}
/* Color Palette
   - Almost-black: #191918
   - Very-light-grey: #fafafa
   - Img-bg-grey: #f0f0f0

*/