<nav class="collection-menu">
	<div class="home-icon"><a href="/" class="back"><i class="fa fa-home"></i></a></div>
	<div class="mobile-icon"><a href="/"><i class="fa fa-bars"></i></a></div>
	<span class="collection-editor">&nbsp;</span>
    <div class="collection-buttons">
    </div>
</nav>
<section class="profile-wrapper">
	<div class="user-name">Collections</div>
	<div class="user-bio">Stories grouped by theme or genre</div>

	<section class="profile-follow-wrapper">
		<input type="hidden" class="follow_id" name="follow_id" value={{id}}>
		<section class="profile-follow">
			<button class="button-follow">Group Stories</button>
		</section>
	</section>
</section>

	
<section class="profile-contents">
</section>

<div class="modal-wrapper">
	<a href="" class="close">close [x]</a>
	<div class="login-form">
		<span class="title">New Collection</span>
		<div class="upload-holder"><a href="" class="upload"><i class="fa fa-camera"></i></a></div>
		<input type="file" id="collection-cover" name="files[]" data-url="htttp://localhost:3000/admin/upload/" style="display: none;" />
		<input type="text" class="login-name" name="title" placeholder="Collection Name" autocapitalize="off" autocomplete="off" spellcheck="false" required autofocus>
		<input type="hidden" name="cover" value="">
		<input type="text" class="login-name" name="description" placeholder="Collection Description" autocapitalize="off" autocomplete="off" spellcheck="false" required>
		<input type="submit" class="login-submit" value="Create">
	</div>
</div>

<aside class="mobile-menu-holder">
	
</aside>