{{#if []}}
<section class="block-contents">
	<a href="" class="label">Your Collection</a>
		<div class="collection-wrapper">
			{{#each []}}
			<div class="collection-block">
				<a href="/collection/{{slug}}/" style="background: url(http://www.sadmuffin.net/cherrybam/graphics/graphics-photography/photography206.jpg)">
					<div class="darker">{{title}}</div>
				</a>
			</div>
			{{/each}}
		</div>
</section>	
{{/if}}