<nav class="collection-menu">
	<a href="/" class="back">C</a>
	<span class="collection-editor">&nbsp;</span>
    <div class="collection-buttons">
    </div>
</nav>
<section class="profile-wrapper">
	<div class="user-name">Collections</div>
	<div class="user-bio">Stories grouped by theme or genre</div>

	<section class="profile-follow-wrapper">
		<input type="hidden" class="follow_id" name="follow_id" value={{id}}>
		<section class="profile-follow">
			<button class="button-follow">Group Stories</button>
		</section>
	</section>
</section>

	
<section class="profile-contents">
</section>