<section class="notification-holder">
    <section class="notification-wrapper">
        <section class="notification-contents">
            {{message}}
        </section>
    </section>
</section> 