<ul class="session-buttons">
    {{#if id}}
    <li class="button-collection"><a href="/collection/"><i class="fa fa-book"></i></a></li>
	<li class="button-collection"><a href="/profile/settings/"><i class="fa fa-cog "></i></a></li>
    <li class="button-profile"><a href="/@{{username}}/" style="background-image: url(/shared/img/{{#if image}}{{image}}{{else}}default.png{{/if}});"></a></li>
    <li class="button-sign"><a href="/logout/"class="back">Logout</a></li>
    {{else}}
    <li class="button-home"><a href="/" class="back">Back to home</a></li>
    {{/if}}
</ul>