<ul class="session-buttons">
    {{#if id}}
    <li class="button-profile"><a href="/@{{username}}/" style="background-image: url(/shared/img/{{#if image}}{{image}}{{else}}default.png{{/if}});"></a></li>
    <li class="button-logout"><a href="/"><i class="fa fa-lock"></i></a></li>
    {{else}}
    <li class="button-home"><a href="/" class="back">Back to home</a></li>
    {{/if}}
</ul>