<ul class="session-buttons">
	<li class="button-collection"><a href="/collection/"><i class="fa fa-folder"></i></a></li>
    {{#if id}}
    <li class="button-profile"><a href="/@{{username}}/" style="background-image: url(/shared/img/{{#if image}}{{image}}{{else}}default.png{{/if}});"></a></li>
    <li class="button-sign"><a href="/collection/"class="back">Logout</a></li>
    {{else}}
    <li class="button-home"><a href="/" class="back">Back to home</a></li>
    {{/if}}
</ul>