{{#if []}}
<section class="block-contents">
	<a href="" class="label">Collections</a>
		<div class="collection-wrapper">
			{{#each []}}
			<div class="collection-block">
				<a href="/collection/{{slug}}/" style="background-image: url(/shared/img/{{#if cover}}{{cover}}{{/if}})">
					<div class="darker">{{title}}</div>
				</a>
			</div>
			{{/each}}
		</div>
</section>	
{{/if}}