<section class="contents-wrapper">
	<article clsss="post-block">
		<span class="recommend"><a href="#">"Interesting post!" &mdash; Staff</a></span>
		<span class="post-title"><a href="/@laxxers/this-is-how-you-write-a-memoir">This Is How You Write a Memoir</a></span>
		<section class="post-content">
			"I'm not advocating happy endings; I'm advocating well-built stories."
		</section>
		<section class="post-footer">
			<div class="rounded">
				<div class="user-image" style="background-image: url(/shared/img/profile.JPG);"></div>
			</div>
				<span class="author"><a href="/@laxxers/">Chong Zhi Rui</a></span>
				<span class="time">1d ago</span>
				<a href="#" class="readtime">9 min read</a>
		</section>
	</article>	
</section>

<section class="contents-wrapper">
	<article clsss="post-block">
		<span class="recommend"><a href="#">"Highly recommended!" &mdash; Staff</a></span>
		<span class="post-title"><a href="#">A Portrait of the Artist
as a Young Gamer</a></span>
		<section class="post-content">
			"We asked eight artists to illustrate the video-game obsessions of their childhoods—from The Legend of Zelda to Minesweeper to Final Fantasy."
		</section>
		<section class="post-footer">
			<div class="rounded">
				<div class="user-image" style="background-image: url(/shared/img/profile.JPG);"></div>
			</div>
				<span class="author"><a href="/@laxxers/">Chong Zhi Rui</a></span>
				<span class="time">1d ago</span>
				<a href="#" class="readtime">9 min read</a>
		</section>
	</article>	
</section>
