<aside class="sidebar-contents">
	<section class="sidebar-title">
		<label for="">Recommended for you</label>
	</section>

<section class="contents-wrapper sidebar-wrapper">
	<article clsss="post-block">
		<span class="post-title"><a href="#">This Is How You Write a Memoir</a></span>
		<section class="post-content">
			"I'm not advocating happy endings; I'm advocating well-built stories."
		</section>
		<section class="post-footer">
			<div class="rounded">
				<div class="user-image" style="background-image: url(/shared/img/profile.JPG);"></div>
			</div>
				<span class="author"><a href="/@laxxers/">Chong Zhi Rui</a></span>
				<span class="time">1d ago</span>
				<a href="#" class="readtime">9 min read</a>
		</section>
	</article>	
</section>
</aside>